<dom-module id="x-articolodescrizione">
	<template>
		<label>
			Descr.
			<x-input type="text" value="{{value}}"  maxlength="{{lenght}}" size="{{lenght}}"></x-input>
		</label>
	</template>
	<script>
	Polymer({
		is:'x-articolodescrizione',
		properties: {
			value: {
				type: String,
				notify: true
			},
			lenght: {
				type: Number,
				notify: true
			}
		},
		value: '',
		lenght: 15,
		myfocus: function (){
			Polymer.dom(this.root).querySelector('x-input').myfocus();
		}
	});
	</script>
</dom-module>