<dom-module id="x-data">
	<template>
		<label>
			Data
			<x-input type="text" value="{{value}}"  maxlength="10" size="10"></x-input>
		</label>
	</template>
	<script>
	Polymer({
		is:'x-data',
		properties: {
			value: {
				type: String,
				notify: true,
				value: function(){return new Date().toJSON().slice(0,10)},
			}
		},
		myfocus: function (){
			Polymer.dom(this.root).querySelector('x-input').myfocus();
		},
		
		valueChanged: function (){
			console.log('changing data');
			//this.value=;
		}
		
	});
	</script>
</dom-module>


