<dom-module id="x-ddt">
	<template>
		<x-window title="Gestione Ddt">
				<x-ddtselezione id="test"></x-ddtselezione>
				
				<x-tabs>
						<x-pannel title="Testata">
							<br><x-spedizione></x-spedizione>
							<br><x-vettore></x-vettore>
						</x-pannel>
						<x-pannel title="Dettaglio">
							<x-righe>ppppp</x-righe>
							<hr>
							<x-riga>sadasd</x-riga>
						</x-pannel>
						<x-pannel title="Stampa">
							- Stampiamo il documento
							- Note
						</x-pannel>
				</x-tabs>
		</x-window>
	</template>
	<script>
	Polymer({
	is:'x-ddt',
	get : function (){

		/*perform an ajax request to get the ddt*/
		$.ajax({
			type: "POST",
			url: "./../webContab/my/php/core/do.php",
			data: { action: 'getOne',
					params: {
								_type: 'Ddt',
								numero: '2885',
								data: '22/09/2012'
								//_autoExtend: -2,
					},
			},
			context: this,
		}).done(function( msg ) {
			var ddt = $.parseJSON(msg).ddt;

			for (var prop in ddt){
				if (!prop.search('cod_') && typeof ddt[prop] == 'object'){
					this[prop].value = ddt[prop].codice;
				}else{
					this[prop].value = ddt[prop];
				}
				
				//call the onchange method because it is not fired when we modify the value from here
				if(typeof this[prop].onchange == 'function') {
					this[prop].onchange();
				}
				
			}
		});

	},
	ready: function (){
		ddt = this;
		/*map some property to the html elements*/
		this._type = {value:''};

		this.cod_mezzo = Polymer.dom(this.root).querySelector('x-spedizione').codice;
		this.cod_vettore = Polymer.dom(this.root).querySelector('x-vettore').codice;
		
		this.cod_destinatario = shadowQuerySelector(this, ['x-ddtselezione','x-fornitore']).codice;
		this.cod_destinazione = {value:''};
		this.data =   shadowQuerySelector(this, ['x-ddtselezione','x-data']);
		this.numero =  shadowQuerySelector(this, ['x-ddtselezione','x-numero']);
		this.cod_causale = shadowQuerySelector(this, ['x-ddtselezione','x-causale']);
		this.fattura_data = {value:''};
		this.fattura_numero = {value:''};

		this.righe = Polymer.dom(this.root).querySelector('x-tabs').querySelector('x-righe');

		this.tot_colli = {value:''};
		this.tot_peso = {value:''};
		this.valuta = {value:''};
		this.cod_banca = {value:''};
		this.cod_pagamento = {value:''};
		this.note = {value:''};
		this.note1 = {value:''};
		this.note2 = {value:''};
		this.peso_lordo = {value:''};
		this.peso_netto = {value:''};
		this.stato = {value:''};
		this.fatturabile = {value:''};
		this.tipocodiceclientefornitore = {value:''};
		
		this.get();
		
		//manage keyboard events
		$(this).keydown(function(event) {
			console.log(event.which);
			console.log(event.currentTarget.nodeName);
			switch (event.which){
			/*
				case 112: 
					//console.log(event.which);
					Polymer.dom(this.root).innerHTML +='<x-query-window params=\'{"_type":"causalispedizione","codice":["!=",""]}\'><x-query-window>';
					event.preventDefault();
					event.stopPropagation();
					break;
			*/
				case 13:
					return this.focusNext();
					break;
			}
		});
		/*focus management*/
		console.log(this.root);
		console.log(Polymer.dom(this.root).querySelector('x-window'));
		console.log(this.$$('x-window'));
		
		//this.focusAbleContainer = Polymer.dom(this.root).querySelector('x-window');
		this.focusAbleContainer = this;
		
		this.myfocus();
	},

		//focus management
		focusedID: -1,
		myfocus: myfocus,
		focusNext: focusNext,
		getFocusAble : getFocusAble,

	});	
	</script>
</dom-module>