<dom-module id="x-fornitorecodice" attributes="value">
	<template>
		<x-input type="text" value="{{value}}"  maxlength="5" size="5"></x-input>
	</template>
	<script>
	Polymer({
		is:'x-fornitorecodice', 
		value: '',
		ready: function (){
			//manage keyboard events
			$(this).keydown(function(event) {
				switch (event.which){
					case 112: 
						this.getHelp();
						event.preventDefault();
						event.stopPropagation();
						break;
				}
			});
		},
		
		myfocus: function (){
			setTimeout(function (){
				Polymer.dom(this.root).querySelector('x-input').myfocus();
			}.bind(this), 50);
		},
		
		getHelp: function (){
			console.log('delivering help');
			var helpWindow = document.createElement('x-query-window');
			helpWindow.params='{"_type":"ClienteFornitore","codice":["!=",""],"_select":"codice,ragionesociale"}';
			Polymer.dom(this.root).appendChild(helpWindow);
			helpWindow.onConfirm = function (selection){
				//set the new selected value
				shadowQuerySelector(this, ['x-input', 'input']).value = selection.codice;
				//I have to manually call the onchange method
				shadowQuerySelector(this, ['x-input', 'input']).onchange();
			}.bind(this);
		}
	});
	</script>
</dom-module>