<element name="x-fornitore" attributes="value">
	<template>

			Codice
			<x-fornitore-codice value="{{value}}"></x-fornitore-codice>
			Ragione Sociale
			<x-fornitore-ragionesociale></x-fornitore-ragionesociale>
	</template>
	<script>
	Polymer.register(this, {
		_type: 'clientefornitore',
		value: '',
		ready: function (){

			this.codice = this.webkitShadowRoot.querySelector('x-fornitore-codice').webkitShadowRoot.querySelector('input');
			this.ragionesociale =  this.webkitShadowRoot.querySelector('x-fornitore-ragionesociale').webkitShadowRoot.querySelector('input');

			// when the "codice input" change call my "oncodechange" method
			// faccio questo passamano 
			//perchè se operassi direttamente nel metodo onchange dell'input 
			//perdo i riferimenti ad alcune proprietà di x-fornitore che mi servono
			this.codice.onchange = function (){
				console.log('the input has changed');		
				//call the x-fornitore oncodechange function  
				this.oncodechange();
			}.bind(this);
			
			
			this.oncodechange = function (){
				//il codice fornitore è cambiato
				//chiedo al server di mandarmi i nuovi dati
				$.ajax({
					type: "POST",
					url: "./../webContab/my/php/do.php",
					data: { action: 'getOne',
							params: {
										_type: this._type,
										codice: this.codice.value,
							},
					},
					context: this,
				}).done(function( msg ) {
					var json = $.parseJSON(msg)[this['_type']];
					if (json.ragionesociale){
						this.ragionesociale.value = json.ragionesociale;
					}else{
						console.log('Non trovato: '+this._type+' = '+this.value);
					}
				});				
			}
			
			//manage keyboard events
			$(this).keydown(function(event) {
				switch (event.which){
					case 13:
						return this.focusNext();
					default: console.log(event.which);
				}
			});
			/*focus management*/
			this.focusAbleContainer = this.webkitShadowRoot;
		},
		
		/*focus management*/
		focusedID: -1,
		focus: focus,
		focusNext: focusNext,
		getFocusAble : getFocusAble,

	});
	</script>
</element>