<dom-module id="x-imballaggiocodice">
	<template>
		<label>
			Imb.
			<x-input type="text" value="{{value}}"  maxlength="5" size="5" disabled="{{disabled}}"></x-input>
		</label>
	</template>
	<script>
	Polymer({
		is:'x-imballaggiocodice',
		properties: {
			value: {
				type: String,
				notify: true
			},
			disabled: {
				type: Boolean,
				notify: true,
			}
		},
		value: '',
		myfocus: function (){
			Polymer.dom(this.root).querySelector('x-input').myfocus();
		}
	});
	</script>
</dom-module>