<dom-module id="x-imballaggio">
	<template>
		<x-imballaggiocodice value="{{value}}" disabled="{{disabled}}"></x-imballaggiocodice>
		<x-imballaggiodescrizione disabled="{{disabled}}"></x-imballaggiodescrizione>
	</template>
	<script>
	Polymer({
		is:'x-imballaggio',
		properties: {
			value: {
				type: String,
				notify: true
			},
			disabled: {
				type: Boolean,
				notify: true,
			}
		},
		ready:function(){
			/*focus management*/
			this.focusAbleContainer = this.root.host;
		},
		
		myfocus: function (){
			Polymer.dom(this.root).querySelector('x-imballaggiocodice').myfocus();
		},
		
		/*focus management*/
		/*
		focusedID: -1,
		myfocus: myfocus,
		focusNext: focusNext,
		getFocusAble : getFocusAble,
		*/
	});
	</script>
</dom-module>


