<polymer-element name="x-input" attributes="value type maxlength size">
	<template>
    <style>
	
			input:focus {
				border-color:orange;
    outline: none;
    box-shadow: 0 0 10px orange;
			}

	</style>
		<input type="{{type}}" value="{{value}}" maxlength="{{maxlength}}" size="{{size}}">
	</template>
	<script>
	Polymer('x-input', {
		created: function (){
			this.webkitShadowRoot.querySelector('input').onfocus = function(){
				this.select();
			}
		},
		myfocus: function () {
			setTimeout(function (){
				this.webkitShadowRoot.querySelector('input').focus();
			}.bind(this), 50);
		}
	});
	</script>
	</script>
</polymer-element>