<dom-module id="x-numero" attributes="decimali interi totalecaratteri label value">
	<template>
	<label>
		{{label}}
		<x-input type="text" value="{{value}}" maxlength="{{totalecaratteri}}" size="{{totalecaratteri}}" style="width:{{totalecaratteri}}em"></x-input>
	</label>
	</template>
	<script>
	Polymer({
		is:'x-numero', 
		decimali: 0,
		interi: 8,
		totalecaratteri:0,
		label:'',
		//value:'',
		ready: function (){
			this.tabIndex = 0;
			if(this.decimali>0){var virgola=1;}else{var virgola=0;}
			this.totalecaratteri = this.interi+virgola+this.decimali;
		},
		myfocus: function (){
			setTimeout(function (){
				Polymer.dom(this.root).querySelector('x-input').myfocus();
			}.bind(this), 50);
		}
	});
	</script>
</dom-module>


