<polymer-element name="x-numero" attributes="decimali interi totalecaratteri label value">
	<template>
	<label>
		{{label}}
		<input type="text" value="{{value}}" maxlength="{{totalecaratteri}}" size="{{totalecaratteri}}" style="width:{{totalecaratteri}}em">
	</label>
	</template>
	<script>
	Polymer('x-numero', {
		decimali: 0,
		interi: 8,
		totalecaratteri:0,
		label:'',
		//value:'',
		created: function (){
			this.tabIndex = 0;
			if(this.decimali>0){var virgola=1;}else{var virgola=0;}
			this.totalecaratteri = this.interi+virgola+this.decimali;
			$(this.webkitShadowRoot.querySelector('input')).focus();
			this.webkitShadowRoot.querySelector('input').onblur = function(){alert('hoperso il focus');}
			
		},
		focus: function (){
			console.log('the focus funcion of xnumero has been called!');
			console.log(this.webkitShadowRoot.querySelector('input'));
			//this.webkitShadowRoot.querySelector('input').impl.color='red';
			console.log(this.webkitShadowRoot.querySelector('input').impl.focus());
		}
	});
	</script>
</polymer-element>


