<element name="x-pannel" attributes="title">
	<template>	
		<content></content>
	</template>
  <script>
    Polymer.register(this, {
		uiOnly: true,
		ready: function() {

			//manage keyboard events
			$(this).keydown(function(event) {
				switch (event.which){
						case 13:
							return this.focusNext();
					default: console.log(event.which);
				}
			});

			/*focus management*/
			this.focusAbleContainer = this;	
		},
		hide: function (){
			console.log('hiding', this);
			this.setAttribute("display", "none");
			this.setAttribute("overflow", "hidden");
			this.setAttribute("width", "0px");
			this.setAttribute("height", "0px");
		},
		show: function (){
			console.log('showing', this);
			this.setAttribute("display", "initial");
		},
 
		/*focus management*/
		focusedID: -1,
		focus: focus,
		focusNext: focusNext,
		getFocusAble : getFocusAble,
    });
  </script>
</element>
