<polymer-element name="x-query-window" attributes="params" extends="x-window" jsonList="">
	<template>
		<style>
		  table {
			width:100%;
			padding:0px;
			margin:0px;
		  }
		  tr{
			margin:0px;
			padding:0px;

		  }
		   th {
			font-weigth: bold;
			background-color: #a1a1a1;
			border-bottom: 1px solid #a1a1a1;
			text-transform:uppercase;
		  }
		  td{
			margin:0px;
			padding-left:0.5em;
			border-bottom: 1px solid #e1e1e1;
		  }
		  .selected {
			background-color:black;
		  }
		</style>
		
		<x-window title="Seleziona un elemento..." tabindex="0"></x-window>

	</template>
	<script>
	Polymer('x-query-window',{
	created: function (){
		//creo i parametri della query da una stringa json
		if(this.params){
			this.params = this.params.replace("'/g", '"');
			//ricavo i dati con cui riempire la finestra
			this.getFromServer();
		}
		
		if(this.jsonList){
			this.jsonList = $.parseJSON(this.jsonList)
			this.jsonToTable(this.jsonList);
		}
console.log('qw1');
		//do il focus alla mia finestra
		this.myfocus();
console.log('qw2');
		//manage keyboard events
		//console.log(this);
		$(this).keydown(function(event) {
			switch (event.which){
				case 38: this.table.prev();	break; //up
				case 40: this.table.next();	break; //down
				case 13: this.confirm(); break; //enter
				case 27: this.cancel(); break; //esc
			}
			//return false;
		});
		
		//
		//console.log('IO SONO STATO CREATO DA ', this, this.host);
	},
	
	getFromServer : function (){
		/*perform an ajax request to get the list to display*/
		$.ajax({
			type: "POST",
			url: "./../webContab/my/php/core/do.php",
			data: { action: 'getAll',
					params: $.parseJSON(this.params)
			},
			context: this,
		}).done(function( msg ) {
			if (msg){
				var jsonList = $.parseJSON(msg);
				this.jsonToTable(jsonList);
			}
		});
	},
	
	jsonToTable : function (list){
	//console.log('STO CREANDO LA TABELLA')
		for (var i=0; i < list.length; i++){
			//creo le colonne
			if(i==0){
				var table = document.createElement('table');
				var row = document.createElement('tr');
				table.appendChild(row);
				
				//creo una intestazione per ogni proprieta dell'oggetto /*todo nascondi propietà nascoste (quelle che iniziano con "_" )*/
				for (prop in list[i]){
					row.innerHTML+='<th>'+prop+'</th>';
				}
				//mi ricordo la lista degli oggetto
				table.list = list;
			}


			//creo una nuova riga
			var MyRow = document.createElement('tr');
			MyRow.id='r'+i;

			
			//con tutti i campi
			for (prop in list[i]){
				MyRow.innerHTML+='<td>'+list[i][prop]+'</td>';
			}
			table.appendChild(MyRow);
		}

		this.webkitShadowRoot.querySelector('x-window').appendChild(table);

		//seleziona una riga della tabella
		table.select = function (id){
			//deseleziona vecchio elemento
			if (this.selected != null){
				this.querySelector('#r'+this.selected).classList.toggle('selected');
			}
			
			//seleziona il nuovo elemento
			this.querySelector('#r'+id).classList.toggle('selected');
			this.selected = id;
		};
		table.prev = function (){
			if (this.selected > 0){
				this.select ( this.selected-1);
			}
		};
		table.next = function (){
			if (this.selected < (this.length()-1)){
				this.select ( this.selected+1);
			}
		};
		table.first = function (){
			table.select(0);
		};
		table.last = function (){
			table.select(this.length());
		};		
		table.length = function (){
			return this.querySelectorAll('tr').length-1;
		};
		table.getSelection = function (){
			//return the currentli selected object
			return this.list[this.selected];
		}
		//di default seleziono la prima riga /*todo*/ bisognerebbe selezionare l'elemento corrente
		table.select(0);

		this.table = table;
	},
	
	confirm : function (){
		this.onconfirm(this.table.getSelection());
		//remove me from the dom
		this.parentNode.removeChild(this);
		//and return the value
		return this.table.getSelection();
	},
	cancel : function (){
		//remove me from the dom without returning any value
		this.parentNode.removeChild(this);
	},
	onConfirm: function (selection){/*use this as a callback*/
	},
	
	myfocus: function () {
		//do il focus alla mia finestra
		//console.log(this.webkitShadowRoot.querySelector('x-window'));
		/*
		console.log('PRE');
		console.log(document.activeElement);
		console.log('SELECTING');
		console.log(this.webkitShadowRoot.querySelector('x-window'));
		*/
		//this.webkitShadowRoot.querySelector('x-window').myfocus();
			setTimeout(function (){
				//this.webkitShadowRoot.querySelector('table').focus();
				this.focus();
			}.bind(this), 1);
		/*
		console.log('AFTER');
		console.log(document.activeElement);
		
		console.log('focus given');
	
		console.log(this.webkitShadowRoot.querySelector('input'));
		*/
		
	}
	
});
	</script>
</polymer-element>