<dom-module id="x-righe">
	<template>
		<!--<x-riga></x-riga>-->
	</template>
	<script>
	Polymer({
		is:'x-righe', 
		properties: {
			value: {
				type: String,
				notify: true
			}
		},
		value: '',
		valueChanged: function (){
			//console.log(this.nodeName+' changed');
			//console.log(this.value);
			this.creaRighe(this.value);
		},
		creaRighe: function (righe){
			for (var i =0; i < righe.length; i++){
				var riga = righe[i];
				var newRiga = document.createElement('x-riga');
				Polymer.dom(this.root).appendChild(newRiga);
				newRiga.value = riga;
			}
		}
	});
	</script>
</dom-module>


