<dom-module id="x-riga" attributes="value">
    <style>
		@host{
			* {
				text-align: right;
			}
		}
    </style>
	<template>
		<div class="riga">
			<x-numero interi="4" label="N."></x-numero>
			
			<x-articolo></x-articolo>

			<x-um></x-um>
			<x-pesolordo></x-pesolordo>
			<x-tara></x-tara>
			<x-pesonetto></x-pesonetto>
			<br>
			<x-prezzo></x-prezzo>
			<x-articoloiva></x-articoloiva>
			<x-colli></x-colli>
			<x-imballaggio></x-imballaggio>
			<x-lotto></x-lotto>
			<hr>
		</div>
	</template>
	<script>
	Polymer({
		is:'x-riga', 
		value: '',
		ready: function (){
			this._type = {value:''};
			this.cod_articolo = shadowQuerySelector(this, ['x-articolo','x-articolocodice']);
			this.colli = Polymer.dom(this.root).querySelector('x-colli');
			this.descrizione = shadowQuerySelector(this, ['x-articolo','x-articolodescrizione']);
			this.numero = Polymer.dom(this.root).querySelector('x-numero'); 
			this.peso_lordo = shadowQuerySelector(this, ['x-pesolordo','x-numero']);
			this.peso_netto = shadowQuerySelector(this, ['x-pesonetto','x-numero']);
			this.prezzo = Polymer.dom(this.root).querySelector('x-prezzo');
			this.unita_misura = Polymer.dom(this.root).querySelector('x-um');
			this.cod_iva =  Polymer.dom(this.root).querySelector('x-articoloiva');
			
			//manage keyboard events
			$(this).keydown(function(event) {
				switch (event.which){
					case 13:
						return this.focusNext();
					//default: console.log(event.which);
				}
			});
			
			/*focus management*/
			this.focusAbleContainer = Polymer.dom(this.root).querySelector('div');
		},
		valueChanged: function (){
			//console.log(this.nodeName+' changed');
			//console.log(this.value);
			this.creaRiga(this.value);
		},
		creaRiga: function (riga){
			//console.log('doing some nice stuff hire');
			//console.log(righe.lenght);
		
			for (var prop in riga){
				//console.log(prop);

				if (!prop.search('cod_') && typeof riga[prop] == 'object'){
					if (this.hasOwnProperty(prop)){
						this[prop].value = riga[prop].codice;
					}
				}else{
					if (this.hasOwnProperty(prop)){
						this[prop].value = riga[prop];
					}
				}
			}
		},
		/*focus management*/
		focusedID: -1,
		myfocus: myfocus,
		focusNext: focusNext,
		getFocusAble : getFocusAble,
	});
	</script>
</dom-module>


