<dom-module id="x-window">
	<template>
		<style>
		.window {
			box-shadow: 3px 3px 5px 1px #ccc;
			border: 1px solid #a1a1a1;
			position:fixed;
			background-color:white;
			min-width:30%;
			min-heigth:30%;
			max-width:90%;
			max-heigth:90%;
			z-index: 100;
		}
		.title {
		font-family:arial;
			font-weight: bolder;
			background-color: #e1e1e1;
			border-bottom: 1px solid #a1a1a1; 
			padding: 0.3em;
			color:black;
		}
		.content{
  			padding:1em;
		}
		</style>
		<div class="window">
			<div class="title"> &rang; {{title}}</div>
			<div class="content"><content></content></div>
		</div>
	</template>
	<script>
	Polymer({
		is:'x-window',
		properties: {
			title: {
				type: String,
				notify: true
			}
		},
		uiOnly: true,
		title: '',
		close: function (){},
		hide: function () {},
		minimize: function (){},
		
		ready: function (){
			this.myfocus();
		},
		setPosition: function (htmlElement, htmlElementPoint, myPoint){
			
			target = htmlElement;
			
			Polymer.dom(this.root).querySelector('.window').style.left='110px';
			Polymer.dom(this.root).querySelector('.window').style.top='110px';
			
			setTimeout(getOffset, 0, target, function (position){
				Polymer.dom(this.root).querySelector('.window').style.left=position.left+'px';
				Polymer.dom(this.root).querySelector('.window').style.top=position.top+'px';
			}.bind(this));
		},
		myfocus: function () {
			setTimeout(function (){
				this.focus();
			}.bind(this), 10);
		}
	});
	</script>
</dom-module>